@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
body{
    margin:0;
    padding:0;
    font-family: Nunito Sans;
    font-size:12px;
}

main{
    width:100%;
    display: flex;

}
.illustration{
    width:60%;
    height:100vh;
    background-color: rgb(255, 230, 201);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.illustration img{
    width: 100%;
    height:100vh;
    scale:0.8;
    object-fit: contain;
    
}  
    

.login{
    margin:auto;
    padding:80 px 0 0 100px;
}
.login img{
    width: 40px;
    height: auto;
}
form{
    width:100%;
}
label, input:not(#remember){
    display: block;
    width:100%;
    padding:5px;
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    outline:none;
}
#me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
}
input[type="checkbox"]:checked{
    background-color: rgba(127, 38, 91);
}
#check, #remember{
    width:unset;
    vertical-align: middle;
}
input[type="submit"]{
    background-color: rgba(127, 38, 91);
    border-radius: 5px;
    border:none;
    color: white;
    width:100%;
    
    margin:10px 0 0 10px;
}
.options{
    display: grid;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgba(127, 38, 91);
}
span{
    display:inline;
    word-wrap: none;
}
#last{
    padding-top: 40px;
    text-align: center;
}
.ideas{
    width: 60%;
    position: absolute;
    bottom:15px;
    text-align: center;
    margin:auto;
    color: rgba(127, 38, 91);
}
.ideas h1, .ideas p, .login h1{
    padding:0;
    margin:0;
}
.p{
    padding:0;
    margin:0;
}
@media screen and (max-width:712px) {
    .illustration{
        width:100%;
        margin-bottom: 50px;
    }
    .ideas{
        width:100%;
    }
   main{
    display: flex;
    flex-direction: column;
   } 
}
 